@model Invoice.bezit

@{
    ViewBag.Title = "Toewijzing inzien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details van toewijzing inzien</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Debiteur")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debiteuren.Voornaam)
            @Html.Raw(" ")
            @Html.DisplayFor(model => model.debiteuren.Achternaam)

        </dd>

        <dt>
            @Html.Raw("Product")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producten.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Aanpassen", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Terug naar de lijst", "Index")
</p>
